
.anh{
    float: left;
    box-shadow: 0 0 5px black;
    padding: 10px;

}
.chucVu{
    float: left;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 0px;
}
.box4{
    border: 3px solid black;
    width: 100%;
    height: auto;
    float: left;
    padding: 0px;
}